<launch>

  <rosparam file="$(find sence_controllers)/launch/leg_controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="sence_leg_controller" args="
    Rev1_position_controller
    Rev2_position_controller
    Rev3_position_controller
    joint_state_controller
  "/>

</launch>
