<?xml version="1.0"?>
<launch>
  <arg name="control_type" default="position" />

  <rosparam file="$(find sence_controllers)/config/controllers.yaml" command="load" ns="sence_hw"/>

  <!-- state controller -->
  <node name="state_controller_spawner" pkg="controller_manager" type="spawner" ns="sence_hw" args="
    controllers/joint_state
  "/>

  <group if="$(arg control_type) == position">
    <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="sence_hw" args="
      controllers/lf_shoulder_position
      controllers/lm_shoulder_position
      controllers/lb_shoulder_position
      controllers/rf_shoulder_position
      controllers/rm_shoulder_position
      controllers/rb_shoulder_position
      controllers/lf_elbow_position
      controllers/lm_elbow_position
      controllers/lb_elbow_position
      controllers/rf_elbow_position
      controllers/rm_elbow_position
      controllers/rb_elbow_position
      controllers/lf_wrist_position
      controllers/lm_wrist_position
      controllers/lb_wrist_position
      controllers/rf_wrist_position
      controllers/rm_wrist_position
      controllers/rb_wrist_position
    "/>
  </group>

</launch>
