<?xml version="1.0"?>
<launch>

  <rosparam file="$(find sence_controllers)/config/controllers.yaml" command="load" ns="sence_hw"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="sence_hw" args="
    controllers/joint_state
    controllers/group_position_trajectory
  "/>

</launch>
