<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="arm" params="name parent *origin">

        <xacro:include filename="$(find sence_description)/urdf/common/math.urdf.xacro" />

        <!-- parts -->
        <xacro:include filename="$(find sence_description)/urdf/parts/wrist.urdf.xacro" />
        <xacro:include filename="$(find sence_description)/urdf/parts/elbow.urdf.xacro" />
        <xacro:include filename="$(find sence_description)/urdf/parts/shoulder.urdf.xacro" />

        <!-- fixed assembly attachment joint -->
        <joint name="${name}_joint" type="fixed" >
            <parent link="${parent}" />
            <child link="${name}" />
            <xacro:insert_block name="origin" />
        </joint>

        <!-- upper shoulder link for attachment -->
        <link name="${name}">

            <!-- visual -->
            <visual>
                <geometry>
                    <mesh filename="package://sence_description/meshes/upper_shoulder.dae"/>
                </geometry>
                <material name="LightGrey2"/>
            </visual>

            <!-- collision -->
            <xacro:property name="collision_box_x" value="0.075" />
            <xacro:property name="collision_box_y" value="0.055" />
            <xacro:property name="collision_box_z" value="0.035" />

            <collision >
                <geometry>
                    <box size="${collision_box_x} ${collision_box_y} ${collision_box_z}"/>
                    <!-- <mesh filename="package://sence_description/meshes/upper_shoulder.stl"/> -->
                </geometry>
            </collision>

            <!-- inertia -->
            <inertial>
                <mass value="0.1" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
            </inertial>

        </link>

        <!-- attachment origins -->
        <xacro:property name="square_dim" value="0.01"/>

        <!-- part attachments -->
        <!-- shoulder -->
        <xacro:shoulder name="${name}_shoulder" parent="${name}" >
            <origin xyz="0 0 -0.018396" rpy="0 0 0" />
        </xacro:shoulder>

        <!-- elbow -->
        <xacro:elbow name="${name}_elbow" parent="${name}_shoulder" >
            <origin xyz="0.044234 0 -0.027266" rpy="0 0 0" />
        </xacro:elbow>

        <!-- wrist -->
        <xacro:wrist name="${name}_wrist" parent="${name}_elbow" >
            <origin xyz="0.140 0 0" rpy="0 0 0" />
        </xacro:wrist>

    </xacro:macro>

</robot>
