<launch>
    
  <rosparam file="$(find my_robot_hardware_tutorial)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find my_robot_hardware_tutorial)/config/joint_limits.yaml" command="load"/>

  <node name="MyRobotHardwareInterface" pkg="my_robot_hardware_tutorial" type="MyRobot_hardware_inerface_node" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/ >
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /MyRobot/joints_update
            /MyRobot/JointA_EffortController
            /MyRobot/JointB_EffortController
            /MyRobot/JointC_PositionController
        "/> 

</launch>