<?xml version="1.0"?>
<robot name="sence" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sence_description)/urdf/quad/leg.urdf.xacro"/>

  <material name="silver">
    <color rgba="0.7 0.7 0.7 1"/>
  </material>

  <link name="base_link"/>

  <link name="chassis">
    <inertial>
      <origin xyz="0.00021651891376084524 -0.00010528739970071409 -0.014193022646418384" rpy="0 0 0"/>
      <mass value="0.4767252028506373"/>
      <inertia ixx="0.003452" iyy="0.000207" izz="0.003461" ixy="3e-06" iyz="2e-06" ixz="2e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://sence_description/quad_meshes/chassis.stl"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://sence_description/quad_meshes/chassis.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="chassis"/>
  </joint>

  <xacro:leg parent="chassis" name="fl">
    <origin rpy="${pi} 0 0" xyz="-0.0826 0.105095 -0.05196"/>
  </xacro:leg>

  <xacro:leg parent="chassis" name="fr">
    <origin rpy="${pi} ${pi} 0" xyz="0.0826 0.105095 0.024316"/>
  </xacro:leg>

  <xacro:leg parent="chassis" name="bl">
    <origin rpy="0 0 0" xyz="-0.0826 -0.105095 0.024316"/>
  </xacro:leg>

  <xacro:leg parent="chassis" name="br">
    <origin rpy="0 ${pi} 0" xyz="0.0826 -0.105095 -0.05196"/>
  </xacro:leg>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sence_hardware</robotNamespace>
    </plugin>
  </gazebo>

</robot>