<?xml version="1.0"?>
<launch>
  <!-- define arguments -->
  <arg name="namespace" default="sence_hardware" />
  <arg name="rvizconfig" default="$(find sence_hardware)/rviz/urdf.rviz" />

  <!-- robot model -->
  <include file="$(find sence_description)/launch/robot.launch" />

  <!-- Load config -->
  <rosparam command="load"
    file="$(find sence_hardware)/config/controllers.yaml" />

  <!-- spawn model in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-unpause -param robot_description -urdf -model sence -z 0.1" />

  <!-- spawn controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="
      state
      position/fl_joint1
      position/fl_joint2
      position/fl_joint3
      position/fr_joint1
      position/fr_joint2
      position/fr_joint3
      position/bl_joint1
      position/bl_joint2
      position/bl_joint3
      position/br_joint1
      position/br_joint2
      position/br_joint3
  " />

  <!-- Start RViz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- Start RQT -->
  <node name="my_rqt_dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen"
    args="--perspective-file $(find sence_hardware)/rqt/rqt_standup_pub.perspective" />

  <!-- gazebo_ros -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
  </include>
</launch>