<?xml version="1.0"?>
<launch>
  <!-- robot model -->
  <include file="$(find sence_description)/launch/robot.launch"/>

  <!-- load model in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="
    -unpause -param robot_description -urdf -model senio -z 0.1"
  />

  <!-- load controllers -->
  <rosparam file="$(find sence_controllers)/config/controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="
    controllers/joint_state
    controllers/lf_shoulder_position
    controllers/lm_shoulder_position
    controllers/lb_shoulder_position
    controllers/rf_shoulder_position
    controllers/rm_shoulder_position
    controllers/rb_shoulder_position
    controllers/lf_elbow_position
    controllers/lm_elbow_position
    controllers/lb_elbow_position
    controllers/rf_elbow_position
    controllers/rm_elbow_position
    controllers/rb_elbow_position
    controllers/lf_wrist_position
    controllers/lm_wrist_position
    controllers/lb_wrist_position
    controllers/rf_wrist_position
    controllers/rm_wrist_position
    controllers/rb_wrist_position
  "/>
    <!-- controllers/lf_cartesian_trajectory -->
    <!-- controllers/group_position_trajectory -->

  <!-- gazebo_ros -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
  </include>
</launch>
