<?xml version="1.0"?>
<launch>
  <!-- robot model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find sence_main_description)/urdf/sence_main.xacro"/>

  <!-- robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>

</launch>
