<?xml version="1.0" ?>
<robot name="sence_main" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find sence_leg_description)/urdf/sence_leg_macro.xacro"/>
<xacro:include filename="$(find sence_main_description)/urdf/materials.xacro" />
<xacro:include filename="$(find sence_main_description)/urdf/sence_main.trans" />
<xacro:include filename="$(find sence_main_description)/urdf/sence_main.gazebo" />
<link name="base_link">
</link>
  
  
<link name="core">
  <inertial>
    <origin xyz="0.00021651891376084524 -0.00010528739970071409 -0.014193022646418384" rpy="0 0 0"/>
    <mass value="0.4767252028506373"/>
    <inertia ixx="0.003452" iyy="0.000207" izz="0.003461" ixy="3e-06" iyz="2e-06" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sence_main_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sence_main_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>
  
<joint name="con" type="fixed">
  <origin rpy="0 0 0" xyz="0 0 0"/>
  <parent link="base_link"/>
  <child link="core"/>
</joint>


<xacro:sence_leg_macro prefix="back_right_leg_" parent="core" adjT="0.0826 -0.105095 -0.05196" adjR="0 3.14159 0"/>
<xacro:sence_leg_macro prefix="back_left_leg_" parent="core" adjT="-0.0826 -0.105095 0.024316" adjR="0 0 0"/>
<xacro:sence_leg_macro prefix="front_right_leg_" parent="core" adjT="0.0826 0.105095 0.024316" adjR="3.14159 3.14159 0"/>
<xacro:sence_leg_macro prefix="front_left_leg_" parent="core" adjT="-0.0826 0.105095 -0.05196" adjR="3.14159 0 0"/>


</robot>
